<hr noshade size="4" />

<!-- BEGIN article_message_tpl -->
	<img src="/images/path-arrow.gif" height="10" width="12" border="0" alt="" />
	<a class="path" href="/article/view/{article_id}/">{intl-article}: {article_name}</a>
    <!-- BEGIN article_topic_tpl -->
	<img src="/images/path-slash.gif" height="10" width="16" border="0" alt="" />
	<a class="path" href="/forum/message/{message_id}">{message_topic}</a>
    <!-- END article_topic_tpl -->
<!-- END article_message_tpl -->

<!-- BEGIN forum_message_tpl -->
	<img src="/images/path-arrow.gif" height="10" width="12" border="0" alt="" />
	<a class="path" href="/forum/categorylist/">{intl-forum-main}</a>
	<img src="/images/path-slash.gif" height="10" width="16" border="0" alt="" />
    <a class="path" href="/forum/forumlist/{category_id}/">{category_name}</a>
	<img src="/images/path-slash.gif" height="10" width="16" border="0" alt="" />
	<a class="path" href="/forum/messagelist/{forum_id}">{forum_name}</a>
    <!-- BEGIN forum_topic_tpl -->
	<img src="/images/path-slash.gif" height="10" width="16" border="0" alt="" />
	<a class="path" href="/forum/message/{message_id}">{message_topic}</a>
    <!-- END forum_topic_tpl -->
<!-- END forum_message_tpl -->

<hr noshade size="4" />
