<h1>{intl-posted_headline}</h1>

{intl-posted_info_1}. {intl-posted_info_2}.

{message_path_file}

<br />

{message_body_file}

<br />

{intl-posted_info_2}. 
{intl-posted_info_3}: <a href="/forum/messagelist/{forum_id}">{forum_name}&nbsp;</a>
