<tr>
    <td>
        {list-Name}
    </td>
    <td>
        {list-Description}
    </td>
    <td align="center">
        {list-Private}
    </td>
    
    <td>
        <a href="{php_self}?page=admin/category.php4&action=modify&category_id={list-Id}">Endre</a>
    </td>
    <td>
        <a href="{php_self}?page=admin/category.php4&action=delete&category_id={list-Id}">Slett</a>
    </td>
    <td>
        <a href="{php_self}?page=admin/forum.php4&category_id={list-Id}">Forum...</a>
    </td>
</tr>
