<h1>Geschenk Gutscheine von MyGold.com</h1>
<hr size="1">
Mit einem Gutschein von MyGold.com k&ouml;nnen Sie sicher gehen, da&szlig; der 
Empf&auml;nger das Richtige bekommt - denn er kann sich sein Geschenk selber aussuchen. 
<br />
  Dabei haben Sie die Wahl ob Sie den Gutschein lieber per E-Mail oder per Post 
  an den Empf&auml;nger schicken m&ouml;chten.<br />
  <br />

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td width="49%" valign="top"> 
      <table width="100%" border="0" cellspacing="3" cellpadding="3">
        <tr> 					 
          <td align="center" valign="middle">
	    <img src="/sitedesign/mygold/images/gutschein_s.gif" width="100" height="99" alt="Abbildung Brief Gutschein" /><br />
            <a class="small" href="/imagecatalogue/imageview/218573/?RefererURL=/trade/vouchermain/">Detailansicht</a>
	  </td>
          <td valign="top"> 
            <h2><nobr>Zusendung per E-Mail</nobr></h2>
            Egal wohin, mit einem E-Mail-Gutschein erreichen Sie den Empf&auml;nger 
            innerhalb weiniger Stunden.<br />
            <a href="/trade/productview/1111/">Gutschein kaufen</a> </td>
        </tr>
        <tr> 
          <td align="center" valign="middle">
	    <img src="/sitedesign/mygold/images/egutschein_s.gif" width="100" height="136" alt="Abbildung E-Mail Gutschein" /><br />
            <a class="small" href="/imagecatalogue/imageview/218573/?RefererURL=/trade/vouchermain/">Detailansicht</a>
	  </td>
          <td valign="top"> 
            <h2><nobr>Zusendung per Post</nobr></h2>
            Die eleganteste Form einen Gutschein zu schenken. Hier verschicken 
            wir Ihren Gutschein auf einer edlen Karte per Brief. Die Zustellung 
            erfolgt innerhalb von drei bis f&uuml;nf Werktagen.<br />
            <a href="/trade/productview/1111/">Gutschein kaufen</a> </td>
        </tr>
      </table>
    </td>
    <td>&nbsp;</td>
    <td width="49%" valign="top"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="1" bgcolor="#000000">
        <tr>
          <td>
            <table width="100%" border="0" cellspacing="3" cellpadding="3" bgcolor="#DDDDDD">
              <tr> 
                <th align="left">Gutschein einl&ouml;sen</th>
              </tr>
              <tr> 
                <td style="text-align: justify">Um Ihren Gutschein einzul&ouml;sen, kaufen Sie wie gewohnt 
                  ein, an der Kasse haben Sie neben den Zahlarten Visa, Eurocard, 
                  Nachnahme und Paybox zus&auml;tzlich die Option per Gutschein 
                  zu zahlen.<br />
                  Sollte Ihr Gutschein einen h&ouml;heren Wert als Ihr Einkauf 
                  haben, bleibt der Restwert erhalten. Sie k&ouml;nnen den momentanen 
                  Wert Ihres Gutscheines jederzeit <a href="/trade/voucherinformation/">hier 
                  abfragen</a>.<br />
                  Sollte der Wert Ihres Einkaufes h&ouml;her sein als der Wert 
                  Ihres Gutscheines, k&ouml;nnen Sie den Restbetrag mit einer 
                  der anderen zur Verf&uuml;gung stehenden Zahlarten begleichen.</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<br />
<table border="0" cellspacing="0" cellpadding="1" bgcolor="#000000" align="center">
  <tr>
    <td>
      <table border="0" cellspacing="0" cellpadding="5" align="center" bgcolor="#DDDDDD">
        <tr> 
          <td> 
            <ul>
              <li><b><a href="l">Gutschein erstellen</a></b></li>
              <li><b><a href="l">Wert eines Gutscheines abfragen</a></b></li>
            </ul>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<br />
Weitere Informationen zu unseren Gutscheinen finden Sie in den <a href="/article/articlestatic/17/">AGB</a> 
oder in der <a href="/article/articlestatic/23/">Einkaufsanleitung</a>.<br />
Sollten Sie Fragen haben, k&ouml;nnen Sie uns per <a href="/feedback/">Kontaktformular</a>, 
<a href="/callback/" onclick="window.open('/callback/callback.htm', 'callback', config='height=380,width=350,toolbar=no,scrollbars=yes,resizable=no,location=no,directories=no,status=yes'); return false;">Callback</a>, 
<a href="mailto:info@mygold.com">E-Mail</a> oder Telefon 01801-MYGOLD erreichen.
