<!-- Menyboks: Start --->

<table width="100%" cellpadding="0" cellspacing="0" border="0">
<tr>
    <td class="repeaty" rowspan="2" width="1%" background="/admin/images/{site_style}/box-l02.gif" valign="top"><img src="/admin/images/{site_style}/box-l01.gif" width="10" height="10" border="0" /><br /></td>
    <td class="repeatx" width="98%" background="/admin/images/{site_style}/box-m01.gif" valign="absmiddle" bgcolor="#b5b5b5"><img src="/admin/images/{site_style}/1x1.gif" width="120" height="6" border="0" /><br /></td>
    <td class="repeaty" rowspan="2" width="1%" background="/admin/images/{site_style}/box-r02.gif" valign="top"><img src="/admin/images/{site_style}/box-r01.gif" width="10" height="10" border="0" /><br /></td>
</tr>
<tr>
	<td align="bottom" bgcolor="#b5b5b5">

	<table width="100%" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td width="1%">
		<a href="{request_uri}">
		<!-- Ikon: Start -->
		<img src="/{module_dir}/admin/images/module_icon.gif" width="32" height="32" border="0" align="absmiddle" />
		<!-- Ikon: Slutt -->
		</a>
		
		</td>
		<td width="1%">
		<img src="/admin/images/{site_style}/1x1.gif" width="6" height="10" border="0" />
		</td>
		<td width="95%">
		<span class="modulename">		
		{intl-module_name}
		</span>
		</td>
		<td width="1%">
		<img src="/admin/images/{site_style}/1x1.gif" width="6" height="10" border="0" />
		</td>
		<td width="1%">
		<a href="{move_down_uri}"><img src="/admin/images/{site_style}/move-down.gif" width="12" height="12" border="0" alt="" /></a>
		</td>
		<td width="1%">
		<a href="{move_up_uri}"><img src="/admin/images/{site_style}/move-up.gif" width="12" height="12" border="0" alt="" /></a>
		</td>	
	</tr>
	</table>
	
	</td>
</tr>
<tr>
    <td class="tdmini" width="1%" valign="top"><img src="/admin/images/{site_style}/box-l03.gif" width="10" height="11" border="0" /><br /></td>
    <td class="repeatx" width="98%" background="/admin/images/{site_style}/box-m02.gif" valign="top"><img src="/admin/images/{site_style}/1x1.gif" width="120" height="11" border="0" /><br /></td>
    <td class="tdmini" width="1%" valign="top"><img src="/admin/images/{site_style}/box-r03.gif" width="10" height="11" border="0" /><br /></td>
</tr>
<tr>
    <td class="repeaty" width="1%" background="/admin/images/{site_style}/box-l04.gif" valign="top"><img src="/admin/images/{site_style}/1x1.gif" width="10" height="10" border="0" /><br /></td>
    <td bgcolor="#ffffff">
	<table width="100%" cellpadding="1" cellspacing="0" border="0">

	<!-- BEGIN menu_item_tpl -->
	<!-- BEGIN menu_item_link_tpl -->
	<tr>
		<td width="1%" valign="top"><img src="/admin/images/{site_style}/menu-arrow.gif" width="10" height="12" border="0" /><br /></td>
		<td width="99%"class="menu"><a class="menu" href="{target_url}">{name}</a></td>
	</tr>
	<!-- END menu_item_link_tpl -->
	<!-- BEGIN menu_item_break_tpl -->
	<tr>
		<td colspan="2">
		<br />
		</td>
	</tr>
	<!-- END menu_item_break_tpl -->
	<!-- END menu_item_tpl -->
	
	</table>
	<img src="/admin/images/{site_style}/1x1.gif" width="1" height="2" border="0" /><br />
	</td>
    <td class="repeaty" width="1%" background="/admin/images/{site_style}/box-r04.gif" valign="top"><img src="/admin/images/{site_style}/1x1.gif" width="10" height="10" border="0" /><br /></td>
</tr>
<tr>
    <td class="tdmini" width="1%" valign="bottom"><img src="/admin/images/{site_style}/box-l05.gif" width="10" height="19" border="0" /><br /></td>
    <td class="repeatx" width="98%" background="/admin/images/{site_style}/box-m03.gif" valign="bottom"><img src="/admin/images/{site_style}/1x1.gif" width="120" height="11" border="0" /><br /></td>
    <td class="tdmini" width="1%" valign="bottom"><img src="/admin/images/{site_style}/box-r05.gif" width="10" height="19" border="0" /><br /></td>
</tr>
</table>
<img src="/admin/images/{site_style}/1x1.gif" width="130" height="6" border="0" /><br />

<!-- Menyboks: Slutt -->



