
<!-- BEGIN article_list_tpl -->

<!-- BEGIN article_item_tpl -->
<tr>
	<td width="1%" valign="top"><img src="/images/dot.gif" width="10" height="16" border="0" alt="" /><br /></td>
	<td width="99%"><a class="menu" href="/article/articlestatic/{article_id}/1/{article_category_id}/"><span class="{mark}">{article_name}</span></a></td>
</tr>
<tr>
	<td colspan="2" class="menuspacer">&nbsp;</td>
</tr>
<!-- END article_item_tpl -->

<!-- END article_list_tpl -->
