<tr>
	<td bgcolor="{bg_color}">
	&nbsp;&nbsp;{companytype_name}
	</td>
	<td bgcolor="{bg_color}" align="right">
	<a href="index.php?page={document_root}companytypeedit.php&Action=edit&CID={companytype_id}" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('cti{companytype_id}-red','','{document_root}images/redigerminimrk.gif',1)"><img name="cti{companytype_id}-red" border="0" src="{document_root}images/redigermini.gif" width="16" height="16" align="top"></a>
	&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="#" onClick="verify( 'Slette firma?', 'index.php?prePage={document_root}companytypeedit.php&Action=delete&CID={companytype_id}'); return false;" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('cti{companytype_id}-slett','','{document_root}images/slettminimrk.gif',1)"><img name="cti{companytype_id}-slett" border="0" src="{document_root}images/slettmini.gif" width="16" height="16" align="top"></a>
	&nbsp;&nbsp;
	</td>
</tr>
