<a href="#" onClick="verify( '{intl-deletecompanymsg}', 'index.php?prePage={document_root}companyedit.php&Action=delete&CID={company_id}'); 
return false;" onMouseOut="MM_swapImgRestore(); MM_swapImage('firma{company_id}-se','','{document_root}images/firmamini.gif',1)" onMouseOver="MM_swapImage('firma{company_id}-se','','{document_root}images/firmaminimrk.gif',1); MM_swapImage('firma{company_id}-slett','','{document_root}images/slettminimrk.gif',1)"><img name="firma{company_id}-slett" border="0" src="{document_root}images/slettmini.gif" width="16" height="16" align="top"></a>
