<html>
<head>
	<title>
	eZ contact
	</title>
	<link rel="stylesheet" type="text/css" href="ez.css">
</head>
<body>
<table width="100%" cellspacing="0" cellpadding="3" border="0">
<tr>
<td bgcolor="#000000">

	<table width="100%" cellspacing="0" cellpadding="5" border="0">
	<tr>
	<td bgcolor="#ffffff">
	
<table width="100%" cellspacing="0" cellpadding="4" border="0">
<tr>
<td>
<h2>{person_name}</h2>
</td>
</tr>
<tr>
<td>
<b>Firma:</b> {company}<br><br>
</td>
</tr>
</table>

<table width="100%" cellspacing="4" cellpadding="0" border="0">
<tr>
	<td>

<table width="100%" cellspacing="0" cellpadding="4" border="0">
<tr>
	<td bgcolor="#3c3c3c">
		<font color="#ffffff"><b>Adresser</b></font>		
	</td>
</tr>
<tr>
	<td bgcolor="#f0f0f0">
	{address_info_list}
	</td>
</tr>
</table>
	</td>
</tr>
<tr>
	<td>

<table width="100%" cellspacing="0" cellpadding="4" border="0">
<tr>
	<td bgcolor="#3c3c3c">
		<font color="#ffffff"><b>Kontaktmedier</b></font>		
	</td>
</tr>
<tr>
	<td bgcolor="#f0f0f0">
	{phone_info_list}
	<br>
	</td>
</tr>
</table>
	</td>
</tr>
<tr>
	<td>
<table width="100%" cellspacing="0" cellpadding="4" border="0">
<tr>
	<td bgcolor="#3c3c3c">
		<font color="#ffffff"><b>Kommentar</b></font>		
	</td>
</tr>
<tr>
	<td bgcolor="#f0f0f0">
	{comment}
	<br>
	</td>
</tr>
</table>
	</td>
</tr>
</table>
<p>&nbsp;<b>Registrert av:</b> {owner}</p>

	</td>
	</tr>
	</table>
</td>
</tr>
</table>

</body>
</html>
