/* Calendar Stuff -- Love, Dylan */
.bglight 
{
	background-color: #ffffff;
}

.bgdark 
{
	background-color: #FFFFCC;
}

.bgcurrent
{
	background-color: #CCFFFF;
}

.bgweekend
{
	background-color: #FFFFFF;
}

.bgselect
{
	color: #ffffff;
	background-color: #787878;
}
.gcalBoxText 
{
	font-weight: bold;
	margin-bottom: 4px;
}
a.gcalBoxText			{ text-decoration:	none; }
a.gcalBoxText:link		{ color: #0066FF; }
a.gcalBoxText:visited		{ color: #0066FF; }
a.gcalBoxText:active		{ color: #3366CC; }
a.gcalBoxText:hover		{ color: #000099; text-decoration: underline; }

.gcalDayEventText		{ font-weight: bold; margin-top: 3px; margin-bottom: 3px; }
a.gcalDayEventText		{ text-decoration: none; }
a.gcalDayEventText:link		{ color: #fff; }
a.gcalDayEventText:visited	{ color: #fff; }
a.gcalDayEventText:active	{ color: yellow; }
a.gcalDayEventText:hover	{ color: green; text-decoration: underline; }

.gcalSmallLink 		{ font-weight: bold; font-size: 8px; }
a.gcalSmallLink		{ text-decoration: none; }
a.gcalSmallLink:link	{ color: #0066FF; }
a.gcalSmallLink:visited	{ color: #0066FF; }
a.gcalSmallLink:active	{ color: #3366CC; }
a.gcalSmallLink:hover	{ color: #000099; text-decoration: underline; }

.gcalEventTopBar		{ background-color: #557CA3; }
.gcalBorder			{ border: 1px solid gray; }
.gcalDayViewTopBar		{ border: 1px solid white; text-align: center; padding-top: 5px; padding-bottom: 5px; background-color: #E9EDF2; }
.gcalDayViewTopBarSelect	{ border: 1px solid white; text-align: center; padding-top: 5px; padding-bottom: 5px; background-color: #A7FF7E; }
#gcalDayViewLongDateHeader { border: 1px solid gray; padding: 10px; text-align:center; background-color: #d0c9f4;}
.gcalDayViewLongDateHeader { font-weight: bold; font-size: 130%; }
.gcalDayViewBorder 	   { border: 1px solid #3b3030; }

#gcalRecurringFormWrap	   { display: none; }
#gcalRecurringWeekly	   { display: none; }
#gcalRecurringMonthly      { display: none; }
#gcalRecurringYearly       { display: none; }
/* Hellstrøm 24.8.2001 */