
<!-- BEGIN file_list_tpl -->
<table>
<!-- BEGIN file_tpl -->
<tr>
<td>
<img src="{www_dir}/sitedesign/standard/images/dot.gif" width="10" height="12" border="0" alt="" />
<a href="{www_dir}{index}/filemanager/fileview/{file_id}/{file_name}">{file_name}</a>
</td>
</tr>
<!-- END file_tpl -->
</table>
<!-- END file_list_tpl -->
