/* Standard eZ publish stylesheet */

body, div, span, p, .p, h1, h2, .listheadline, .listproducts, h3, ul, li, a, td ,th, select, input, textarea, credit
{
	font-family: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif;
}

body, p, .p, ul, li, a, h3, .path, th, td, .check
{
	font-size: 13px;
	color: #000000;
}

h1 
{
	font-weight: bold;
	font-size: 24px;
	color: #000000;
	margin-bottom: 8px;
	text-decoration : none;
}

h2, .listheadline, .listproducts
{
	font-weight: bold;
	font-size: 18px;
	color: #000000;
	margin-top: 16px;
	margin-bottom: 8px;	
	text-decoration : none;
}

h2, .listheadline
{
	text-decoration : none;
}

.listproducts 
{
	text-decoration : underline;
}

.listheadline, .listproducts 
{
	margin-top: 8px;
}

h3, .path
{
	font-weight: bold;
	text-decoration : none;
}

a:hover 
{
	color: #404040;
	text-decoration: underline;
}

.menuhead
{
	background: #777777;
	font-size: 18px;
	color: #ffffff;
	font-weight: normal;
	text-align: center;
}

.menu, .menutext, .menubold, .pictext, .credit
{
	font-size: 11px;
}

.menu 
{
	font-weight: normal;
	text-decoration: none;
}

.menutext 
{
	margin-bottom: 4px;
}

.menubold 
{
	font-weight: bold;
}

.menuspacer
{
	font-size: 2px;
}

.spacer
{
	padding-top: 8px;
	padding-bottom: 8px;
}

.boxtext 
{
	font-weight: bold;
	margin-bottom: 4px;
}

.small, .smallbold
{
	font-size: 10px;
}

.smallbold 
{
	font-weight: bold;
}

.check 
{
	margin-bottom: 8px;
}

.checkhead
{
	font-weight: bold;
	margin-bottom: 16px;
}

.list
{
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 4px;
}

th 
{
	font-weight: bold;
	text-align: left;
}

.tdmini
{
	font-size: 1px;
}

.byline, .pictext
{
	font-style: italic;
}

.pris
{
	font-weight: bold;
	padding-top: 8px;
	padding-bottom: 12px;
}

.linkselect
{
	color: #ffffff;
}

.linknormal
{
	color: #000000;
}

.bglight 
{
	background-color: #f0f0f0;
}

.bgdark 
{
	background-color: #dcdcdc;
}

.bgcurrent
{
	background-color: #f07800;
}

.bgweekend
{
	background-color: #a0a0a0;
}

.bgselect
{
	color: #ffffff;
	background-color: #787878;
}

form
{
	margin: 0px;
}

hr
{
	color: #808080;
}

.stdbutton 
{
	font-size: 11px;
	font-weight: bold;
}
 
.okbutton 
{
	font-size: 18px;
	font-weight: bold;
}

.error
{
	font-size: 14;
	font-weight: bold;
    color: #f07800;
}

/* HellstrÝm 28.02.2001 */
