<table width="100%" cellspacing="0" cellpadding="2" border="0">
<tr>
	<td colspan="2" class="menuhead">{intl-news_mail}</td>
</tr>

<tr>
	<td width="1%" valign="top"><img src="/sitedesign/{sitedesign}/images/dot.gif" width="10" height="12" border="0" alt="" /><br /></td>
	<td width="99%"><a class="menu" href="/bulkmail/subscriptionlist/">{intl-mail_subscriptions}</a></td>
</tr>

<tr>
	<td colspan="2" class="menuspacer">&nbsp;</td>
</tr>
</table>

