<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="no" lang="no">

<head>

<title>eZ publish administration</title>

<link rel="stylesheet" type="text/css" href="{www_dir}/admin/templates/{site_style}/style.css" />

<meta http-equiv="Content-Type" content="text/html; charset={charset}" />

<script language="JavaScript1.2">
<!--//

	function MM_swapImgRestore() 
	{
		var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
	}

	function MM_preloadImages() 
	{
		var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
		var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
		if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
	}

	function MM_findObj(n, d) 
	{
		var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
		d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
		if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
		for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document); return x;
	}

	function MM_swapImage() 
	{
		var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
		if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
	}
	
//-->
</script> 

</head>

<body bgcolor="#777777" topmargin="6" marginheight="6" leftmargin="6" marginwidth="6" onload="MM_preloadImages('{www_dir}/admin/images/{site_style}/redigerminimrk.gif','{www_dir}/admin/images/{site_style}/slettminimrk.gif','{www_dir}/admin/images/{site_style}/downloadminimrk.gif')">

<table width="100%" cellpadding="0" cellspacing="0" border="0">
<tr>
    <td class="repeaty" width="1" background="{www_dir}/admin/images/{site_style}/top-l02.gif" valign="top" align="left"><img src="{www_dir}/admin/images/{site_style}/top-l01.gif" width="10" height="10" border="0" alt="" /><br /></td>
    <td class="repeatx" width="50%" background="{www_dir}/admin/images/{site_style}/top-m01.gif" valign="absmiddle" bgcolor="#b5b5b5" align="left"><img src="{www_dir}/admin/images/{site_style}/1x1.gif" width="120" height="6" border="0" alt="" /><br /></td>
    <td class="repeatx" width="50%" background="{www_dir}/admin/images/{site_style}/top-m01.gif" valign="absmiddle" bgcolor="#b5b5b5" align="left"><img src="{www_dir}/admin/images/{site_style}/1x1.gif" width="120" height="6" border="0" alt="" /><br /></td>
    <td class="repeaty" width="1" background="{www_dir}/admin/images/{site_style}/top-r02.gif" valign="top" align="left"><img src="{www_dir}/admin/images/{site_style}/top-r01.gif" width="10" height="10" border="0" alt="" /><br /></td>
</tr>
<tr>
    <td class="repeaty" width="1" background="{www_dir}/admin/images/{site_style}/top-l02.gif" valign="top" align="left"><img src="{www_dir}/admin/images/{site_style}/1x1.gif" width="10" height="10" border="0" alt="" /><br /></td>
    <td class="repeatx" colspan="2" width="98%" valign="absmiddle" bgcolor="#b5b5b5" align="left">

<table width="100%" cellpadding="0" cellspacing="0" border="0">
<tr>
	<td width="1%" class="tdmini">
	<a href="http://developer.ez.no" target="_vblank"><img src="{www_dir}/admin/images/{site_style}/top-ezpublishlogo.gif" width="200" height="40" border="0" alt="" /></a><br />
	</td>
	<td width="92%">
	<img src="{www_dir}/admin/images/1x1.gif" width="20" height="10" border="0" alt="" />
	</td>
</tr>
</table>

	</td>
    <td class="repeaty" width="%" background="{www_dir}/admin/images/{site_style}/top-r02.gif" valign="top" align="left"><img src="{www_dir}/admin/images/{site_style}/1x1.gif" width="10" height="10" border="0" alt="" /><br /></td>
</tr>
<tr>
    <td class="repeaty" width="1" valign="top" align="left"><img src="{www_dir}/admin/images/{site_style}/top-l03.gif" width="10" height="10" border="0" alt="" /><br /></td>
    <td class="repeatx" width="50%" background="{www_dir}/admin/images/{site_style}/top-m02.gif" valign="absmiddle" align="left" bgcolor="#b5b5b5"><img src="{www_dir}/admin/images/{site_style}/1x1.gif" width="120" height="6" border="0" alt="" /><br /></td>
    <td class="repeatx" width="50%" background="{www_dir}/admin/images/{site_style}/top-m02.gif" valign="absmiddle" align="left" bgcolor="#b5b5b5"><img src="{www_dir}/admin/images/{site_style}/1x1.gif" width="120" height="6" border="0" alt="" /><br /></td>
    <td class="repeaty" width="1" valign="top" align="left"><img src="{www_dir}/admin/images/{site_style}/top-r03.gif" width="10" height="10" border="0" alt="" /><br /></td>
</tr>
</table>
<img src="{www_dir}/admin/images/{site_style}/1x1.gif" width="6" height="6" border="0" alt="" /><br />

<table width="100%" cellpadding="0" cellspacing="0" border="0">
<tr>
	<td width="100%" valign="top">

    <table width="100%" cellpadding="0" cellspacing="0" border="0">
<tr>
    <td class="repeaty" rowspan="2" width="1%" background="{www_dir}/admin/images/{site_style}/box-l02.gif" valign="top"><img src="{www_dir}/admin/images/{site_style}/box-l01.gif" width="10" height="10" border="0" /><br /></td>
    <td class="repeatx" width="98%" background="{www_dir}/admin/images/{site_style}/box-m01.gif" valign="absmiddle" bgcolor="#b5b5b5"><img src="{www_dir}/admin/images/{site_style}/1x1.gif" width="120" height="6" border="0" /><br /></td>
    <td class="repeaty" rowspan="2" width="1%" background="{www_dir}/admin/images/{site_style}/box-r02.gif" valign="top"><img src="{www_dir}/admin/images/{site_style}/box-r01.gif" width="10" height="10" border="0" /><br /></td>
</tr>
<tr>
	<td align="bottom" bgcolor="#b5b5b5">

	<table width="100%" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td width="1%">

		<a href="{www_dir}{index}/">
		<!-- Icon: Start -->
		<img src="{www_dir}/ez{module_name}/admin/images/module_icon.gif" width="32" height="32" border="0" align="absmiddle" alt="{intl-module_name}" />
		<!-- Icon: End -->
		</a>

		</td>
		<td width="1%">
		<img src="{www_dir}/admin/images/{site_style}/1x1.gif" width="6" height="10" border="0" alt="" />
		</td>
		<td width="98%">
		<span class="modulename">

		<!-- Modulename: Start -->
		{intl-module_name}
		<!-- Modulname: End -->

		</span>
		</td>
	</tr>
	</table>

	</td>
</tr>
<tr>
    <td class="tdmini" width="1" valign="top" align="left"><img src="{www_dir}/admin/images/{site_style}/box-l03.gif" width="10" height="11" border="0" alt="" /><br /></td>
    <td class="repeatx" width="100%" background="{www_dir}/admin/images/{site_style}/box-m02.gif" valign="top"><img src="{www_dir}/admin/images/{site_style}/1x1.gif" width="120" height="11" border="0" alt="" /><br /></td>
    <td class="tdmini" width="1" valign="top" align="left"><img src="{www_dir}/admin/images/{site_style}/box-r03.gif" width="10" height="11" border="0" alt="" /><br /></td>
</tr>
<tr>
    <td class="repeaty" width="1" background="{www_dir}/admin/images/{site_style}/box-l04.gif" valign="top" align="left"><img src="{www_dir}/admin/images/{site_style}/1x1.gif" width="10" height="10" border="0" alt="" /><br /></td>
    <td bgcolor="#ffffff">
	
	<table width="100%" cellpadding="4" cellspacing="0" border="0">
	<tr>
		<td>
	
    <!-- Main view: Start -->


 
