body {
	font-family: verdana;
	font-size: 10pt;
	background-color: #202020;	
}

h1 {
	font-family: Verdana, Arial, Times;	
	font-weight: bold;
	font-size: 14px;
	color: #000000;	
	margin-bottom: 2pt;
}

h1 {
	font-family: Verdana, Arial, Times;	
	font-weight: bold;
	font-size: 14px;
	color: #000000;	
	margin-bottom: 2pt;
}

h1.white {
	font-family: Verdana, Arial, Times;	
	font-weight: bold;
	font-size: 18px;
	color: #ffffff;	
	margin-bottom: 0pt;
}

strong.h2 {
	font-family: Verdana, Arial, Times;	
	font-weight: bold;
	font-size: 16px;
	color: #000000;	
    margin-bottom: 0pt;
}

h2 {
	font-family: Verdana, Arial, Times;	
	font-weight: bold;
	font-size: 14px;
	color: #000000;	
    margin-bottom: 0pt;
}

strong.h1 {
	font-family: Verdana, Arial, Times;	
	font-weight: bold;
	font-size: 20px;
	color: #ffffff;	
	margin-bottom: 2pt;
}

p {
	font-family: Verdana, Arial;
	text-align: left;
	font-size: 13px;
	color: #000000;
}


p.small {
	font-family: Verdana, Arial;
	text-align: left;
	font-size: 10px;
	color: #000000;
}

p.fat   {
	font-family: Verdana, Arial;
	font-weight: bold;
	text-align: center;
	font-size: 12px;
	color: #000000;
}

td {
	font-family: Verdana, Arial;	
	font-size: 12px;
	color: #000000;
}

th {
	font-family: Verdana, Arial;	
	font-size: 10pt;
	color: #666666;
	background-color : #444444;
}

p.footer {
	font-family: Verdana, Arial;
	text-align: right;
	font-size: 8pt;
	color: #888888;	
}


strong {
		font-family:  verdana, arial;
		font-weight: normal;
		font-size: 10pt;
        color : #444444;
}

strong.heading {
		font-family: Trebuchet MS, Arial, Verdana;
		font-weight: bold;
		font-size: 18pt;
        color : #1C116E;
        margin-bottom: 0pt;
}

strong.text {
		font-family:  verdana, arial;
		font-weight: normal;
		font-size: 10px;
        color : #000000;
}

strong.boldText {
		font-family:  verdana, arial;
		text-align: right;
		font-weight: bold;
		font-size: 8pt;
        color : #444444;
}

strong.title {
		font-family:  Verdana, arial;
		font-weight: bold;
		font-size: 16px;
        color : #000000;
}

strong.info {
		font-family:  verdana, arial;
		font-weight: normal;
		font-size: 10px;
        color : #444444;
}

strong.intro {
		font-family:  verdana, arial;
		font-weight: bold;
		font-size: 12px;
		color : #444444;
}

strong.body {
		font-family:  verdana, arial;
		font-weight: normal;
		font-size: 10pt;
        color : #444444;
}

strong.smallTitle {
		font-family:  verdana, arial;
		font-weight: bold;
		font-size: 15px;
        color : #000000;
}

strong.smallIntro {
		font-family:  verdana, arial;
		font-weight: normal;
		font-size: 12px;
        color : #444444;
}

strong.smallLink {
		font-family:  verdana, arial;
		font-weight: normal;
		font-size: 10pt;
        color : #444444;
}

strong.linkHeader {
		font-family:  verdana, arial;
		font-weight: normal;
		font-size: 8pt;
        color : #444444;
}

strong.linkHeaderBullet {
		font-family:  arial;
		font-weight: bold;
		font-size: 8pt;
        color : #994444;
}

strong.linkTitle {
		font-family:  arial;
		font-weight: bold;
		font-size: 11pt;
        color : #994444;
}

p.foot {
	text-align: right;
	font-family: Verdana;
	font-size: 8pt;
	color: aaaaaa;
}

select {
	font-family: Verdana;
	font-size: 10pt;
	color: #000000;
}

input {
	font-family: Verdana;
	font-size: 10pt;
	color: #000000;
}
 
textarea {
	font-family: Verdana;
	font-size: 10pt;
	color: #000000;
}

p.foot {
	text-align: right;
	font-family: Verdana;
	font-size: 8pt;
	color: #dddddd;	
}

A {
		font-family: Verdana, Arial;
		font-weight: bold;
		font-size: 12px;		
		color : #000000;
		text-decoration : none;
}

a.more	{
	font-family: Verdana, Arial;
	font-weight: bold;
	text-align: left;
	font-size: 13px;
	color: #000000;
}

A.small {		
		font-size: 10px;
}

A.linkHeader {		
        color : #005572;
		font-size: 10px;		        
}


A:visited  
{
        text-decoration : none;
}

A:active  
{
        text-decoration : none;
}

A:hover  
{
	font-weight: bold;
	text-decoration : underline;
}
