body {
	font-family: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif;
	font-size: 12px;
	color: #ffffff;
	background-color: #3c3c3c;
}

p {
	font-family: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif;
	text-align: left;
	font-size: 12px;
	color: #000000;
}

p.big {
	font-family: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif;
	text-align: left;
	font-size: 14px;
	color: #000000;
}

p.small {
	font-family: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif;
	text-align: left;
	font-size: 10px;
	color: #000000;
}

td {
	font-family: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif;	
	font-size: 12px;
	color: #000000;
}

h1 {
	font-family: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif;	
	font-weight: bold;
	font-size: 20px;
	color: #000000;	
}

h2 {
	font-family: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif;	
	font-weight: bold;
	font-size: 18px;
	color: #000000;	
}

h3 {
	font-family: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif;	
	font-weight: bold;
	font-size: 16px;
	color: #000000;	
}

a {
	font-family: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif;
	font-weight: bold;
	font-size: 12px;		
	color : #000000;
	text-decoration : none;
}

a.small {		
	font-family: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif;
	font-weight: bold;
	font-size: 10px;
	color : #000000;
}

a.big {		
	font-family: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color : #000000;
}

.white {
	color : #ffffff;
}

p.smallhead {
	font-family: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif;
	font-weight: bold;
	text-align: center;
	font-size: 10px;
	color: #ffffff;
}

strong.h1 {
	font-family: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif;	
	font-weight: bold;
	font-size: 20px;
	color: #ffffff;
}

strong.h2 {
	font-family: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif;	
	font-weight: bold;
	font-size: 16px;
	color: #000000;	
}

strong {
	font-family: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif;
	font-weight: normal;
	font-size: 10px;
        color : #444444;
}

strong.heading {
	font-family: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif;
	font-weight: bold;
	font-size: 18pt;
        color : #1C116E;
        margin-bottom: 2px;
}

strong.text {
	font-family: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif;
	font-weight: normal;
	font-size: 10px;
        color : #000000;
}

strong.boldText {
	font-family: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif;
	text-align: right;
	font-weight: bold;
	font-size: 8px;
        color : #444444;
}

strong.title {
	font-family: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif;
	font-weight: bold;
	font-size: 16px;
        color : #000000;
}

strong.info {
	font-family: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif;
	font-weight: normal;
	font-size: 10px;
        color : #444444;
}

strong.intro {
	font-family: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color : #444444;
}

strong.body {
	font-family: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif;
	font-weight: normal;
	font-size: 10px;
        color : #444444;
}

strong.smallTitle {
	font-family: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif;
	font-weight: bold;
	font-size: 16px;
        color : #000000;
}

strong.smallIntro {
	font-family: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif;
	font-weight: normal;
	font-size: 12px;
        color : #444444;
}

strong.smallLink {
	font-family: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif;
	font-weight: normal;
	font-size: 10px;
        color : #444444;
}

strong.linkHeader {
	font-family: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif;
	font-weight: normal;
	font-size: 8px;
        color : #444444;
}

strong.linkHeaderBullet {
	font-family: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif;
	font-weight: bold;
	font-size: 8px;
        color : #994444;
}

strong.linkTitle {
	font-family: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif;
	font-weight: bold;
	font-size: 12px;
        color : #994444;
}

select {
	font-family: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif;
	font-size: 12px;
	color: #000000;
}

input {
	font-family: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif;
	font-size: 12px;
	color: #000000;
}
 
textarea {
	font-family: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif;
	font-size: 12px;
	color: #000000;
}

