body 
{
	font-family: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif;
	font-size: 12px;
	color: #000000;
}

p 
{
	font-family: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif;
	font-size: 12px;
	color: #000000;
}

h1 
{
	font-family: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif;	
	font-weight: bold;
	font-size: 24px;
	color: #000000;
	margin-bottom: 8px;
}

h2 
{
	font-family: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif;	
	font-weight: bold;
	font-size: 18px;
	color: #000000;
	margin-top: 16px;
	margin-bottom: 8px;	
}

h3 
{
	font-family: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif;	
	font-weight: bold;
	font-size: 12px;
	color: #000000;
}

a 
{
	font-family: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif;
	font-size: 12px;		
	color : #000000;
	text-decoration : underline;
}

.small 
{
	font-size: 10px;
}

.smallbold 
{
	font-size: 10px;
	font-weight: bold;
}

.top
{
	color: #ffffff;
	font-size: 10px;
	font-weight: bold;
}

.topusername
{
	color: #ffffff;
	font-size: 10px;
}

.topmenu
{
	color: #ffffff;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
}


.menu 
{
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
}

.path 
{
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

.slash
{
	font-weight: bold;
	font-size: 18px;
	color: #c80000;
}

.byline 
{
	font-style: italic;
}

.pictext 
{
	font-size: 10px;
	font-style: italic;
}

.boxtext 
{
	font-weight: bold;
	margin-bottom: 4px;
}

.check 
{
	font-family: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif;	
	font-size: 12px;
	color: #000000;
	margin-bottom: 8px;
}

.checkhead
{
	font-weight: bold;
	margin-bottom: 16px;
}

.list
{
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 4px;
}

th 
{
	font-family: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif;	
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-align: left;
}

td 
{
	font-family: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif;	
	font-size: 12px;
	color: #000000;
	background-repeat: no-repeat;
}

.repeatx
{
	background-repeat: repeat-x;
}

.repeaty
{
	background-repeat: repeat-y;
}

.bglight 
{
	background-color: #f0f0f0;
}

.bgdark 
{
	background-color: #dcdcdc;
}

select 
{
	font-family: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif;
	font-size: 12px;
	color: #000000;
}

input 
{
	font-family: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif;
	font-size: 12px;
	color: #000000;
}

.stdbutton 
{
	font-weight: normal;
}
 
.okbutton 
{
	font-size: 18px;
	font-weight: bold;
}

textarea 
{
	font-size: 12px;
	color: #000000;
}

.pris
{
	font-weight: bold;
}

.error
{
	font-size: 14;
	font-weight: bold;
    color: #f07800;
}


hr
{
	color: #000064;
}
