<table width="100%" cellspacing="0" cellpadding="2" border="0">
<!-- BEGIN path_item_tpl -->

<!-- END path_item_tpl -->

<!-- BEGIN category_list_tpl -->

<!-- BEGIN category_item_tpl -->

<!-- END category_item_tpl -->

<!-- END category_list_tpl -->


<!-- BEGIN article_list_tpl -->

<!-- BEGIN article_item_tpl -->
<tr>
	<td>
	<a class="headlinemenu" href="/article/articleview/{article_id}/">
	{article_name}
	</a>
	</td>
</tr>
<tr>
	<td class="small" align="left">
	(&nbsp;{article_published}&nbsp;)
	</td>
</tr>
<tr>
	<td class="menuspacer">&nbsp;</td>
</tr>
<!-- END article_item_tpl -->
<!-- END article_list_tpl -->
<tr>
	<td class="menuspacer">&nbsp;</td>
</tr>
</table>




