<p class="boxtext">{intl-topic}:</p>
<span class="p">{message_topic}</span>
<br /><br />

<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>        
   	<td>
	<p class="boxtext">{intl-author}:</p>
    {message_author}
	</td>
	<td align="right">
	<p class="boxtext">{intl-posted_at}:</p>
	<span class="small">{message_posted_at}</span>
	</td>
</tr>
</table>


<p class="boxtext">{intl-body}:</p>
<table width="100%" border="0" cellspacing="0" cellpadding="4">
<tr>        
<td class="bglight">
{message_body}
</td>
</tr>
</table>

<br />

<hr noshade="noshade" size="4" />
