<tr>
    <td background="/images/{site_style}/menu-t.gif" valign="top"><img src="/images/{site_style}/1x1.gif" width="15" height="1"><img src="/images/{site_style}/menu-link.gif" width="120" height="50"></td>
</tr>
<tr> 
    <td class="repeaty" background="/images/{site_style}/menu-m.gif">
	<img src="/images/{site_style}/menu-arrow.gif" width="20" height="10"><a class="menu" href="/link/">{intl-linklist}</a><br>
    <img src="/images/{site_style}/menu-arrow.gif" width="20" height="10"><a class="menu" href="/link/group/incoming/">{intl-notaccepted}</a><br>
	<img src="/images/{site_style}/menu-arrow.gif" width="20" height="10"><a class="menu" href="/link/groupedit/new//">{intl-newcategory}</a><br>
    <img src="/images/{site_style}/menu-arrow.gif" width="20" height="10"><a class="menu" href="/link/linkedit/new//">{intl-newlink}</a><br>
    </td>
</tr>
<tr>
    <td><img src="/images/{site_style}/menu-b.gif" width="150" height="40"></td>
</tr>
