php_flag magic_quotes_gpc off

##############################
# PHP : Required variable changes required for eZ publish v2 && php v > 4.3.2?
##############################

php_flag register_globals on
php_flag register_long_arrays on

##############################
# .htaccess : mod_rewrite : rules for users who do not have access to apache configuration

<IfModule mod_rewrite.c>
      RewriteEngine On

      RewriteRule ^/stats/store/(.*).gif$ ezstats/user/storestats.php [L]
      RewriteRule ^/filemanager/filedownload/([^/]+)/(.*)$ ezfilemanager/files/$1 [T="application/oct-stream",L]

#by ip:

#    RewriteCond %{HTTP_HOST} ^66\.42\.203\.110$
#    RewriteRule !\.(ico|png|css|jpg|jpeg|gif|js|jar|swf|rm|rmm|ram|rpm|mp3|mp4|wma|asx|wmv|mov|mpg|mpeg|ogg|wav|a
u|aiff|midi|mid|pdf)$ index.php

#by dns short: example.org

    RewriteCond %{HTTP_HOST} ^example\.org$
    RewriteRule !\.(ico|png|css|jpg|jpeg|gif|js|jar|swf|rm|rmm|ram|rpm|mp3|mp4|wma|asx|wmv|mov|mpg|mpeg|ogg|wav|a
u|aiff|midi|mid|pdf)$ index.php

#by dns long:  www.example.org

    RewriteCond %{HTTP_HOST} ^www\.example\.org$
    RewriteRule !\.(ico|png|css|jpg|jpeg|gif|js|jar|swf|rm|rmm|ram|rpm|mp3|mp4|wma|asx|wmv|mov|mpg|mpeg|ogg|wav|a
u|aiff|midi|mid|pdf)$ index.php

#by dns admin:  admin.example.org

     RewriteCond %{HTTP_HOST} ^admin\.example\.org$
     RewriteRule !\.(ico|png|css|jpg|jpeg|gif|js|jar|swf|rm|rmm|ram|rpm|mp3|mp4|wma|asx|wmv|mov|mpg|mpeg|ogg|wav|a
u|aiff|midi|mid|pdf) index_admin.php

</IfModule>

##############################

