################################################################################
# PHP : Required php configuration variable changes required 
#       for eZ publish 2 && php version > 4.3.2? / 4.2.0

################################################################################
#  eZ publish 2 : Runs best with 'magic_quotes' off 

php_flag magic_quotes_gpc off

################################################################################
# eZ publish 2 : Requires Old World Global Variables

php_flag register_globals off

################################################################################
# eZ publish 2 : Requires Large Array Support

php_flag register_long_arrays on

################################################################################
# eZ publish 2 : Call-tim pass-by-reference

# Call-time pass-by-reference has been deprecated - argument passed by value; 
# If you would like to pass it by reference, modify the declaration of [runtime function name]().  
# If you would like to enable call-time pass-by-reference, you can 
# set allow_call_time_pass_reference to true in your INI file.  
# However, future versions may not support this any longer.  

php_flag allow_call_time_pass_reference on

################################################################################
# .htaccess : mod_rewrite : Url Rewrite Rules, for users who do not have access 
# to their apache web server  configuration

# These attractive <IfModule> tags allow apache to ignore the rules 
# if mod_rewrite support is not included or enabled by apache
<IfModule mod_rewrite.c>
      # mod_rewrite is highly recomended for an eZ publish's installation security.    
      # mod_rewrite is not required for operation of eZ publish, per say.
      RewriteEngine On

      RewriteRule ^/stats/store/(.*).gif$ ezstats/user/storestats.php [L]
      RewriteRule ^/filemanager/filedownload/([^/]+)/(.*)$ ezfilemanager/files/$1 [T="application/oct-stream",L]

#    By IP Address:
#
#    RewriteCond %{HTTP_HOST} ^66\.42\.203\.110$
#    eZ publish Installation Test : The following line allows access test page.
#    RewriteCond %{REQUEST_URI} !^/index_verify.php*
#    RewriteRule !\.(ico|png|css|jpg|jpeg|gif|js|jar|swf|rm|rmm|ram|rpm|mp3|mp4|wma|asx|asf|wmv|mov|mpg|mpeg|ogg|wav|au|aiff|midi|mid|pdf)$ index.php


#   By DNS Name : example.org
#

    RewriteCond %{HTTP_HOST} ^php5\.demo\.ezcommunity\.net$
    # eZ publish Installation Test : The following line allows access test page.
    RewriteCond %{REQUEST_URI} !^/index_verify.php*
    RewriteRule !\.(ico|png|css|jpg|jpeg|gif|js|jar|swf|rm|rmm|ram|rpm|mp3|mp4|wma|asx|asf|wmv|mov|mpg|mpeg|ogg|wav|au|aiff|midi|mid|pdf)$ index.php


#   By DNS Name (Long) : www.example.org
#
    RewriteCond %{HTTP_HOST} ^www\.php5\.demo\.ezcommunity\.net$
    # eZ publish Installation Test : The following line allows access test page.
    # RewriteCond %{REQUEST_URI} !^/index_verify.php*
    RewriteRule !\.(ico|png|css|jpg|jpeg|gif|js|jar|swf|rm|rmm|ram|rpm|mp3|mp4|wma|asx|asf|wmv|mov|mpg|mpeg|ogg|wav|au|aiff|midi|mid|pdf)$ index.php


#   By DNS Name (Admin Site) :  admin.example.org  or  my.example.org
#
     RewriteCond %{HTTP_HOST} ^edit\.php5\.demo\.ezcommunity\.net$
     # eZ publish Installation Test : The following line allows access test page.
     # RewriteCond %{REQUEST_URI} !^/index_verify.php*
     RewriteRule !\.(ico|png|css|jpg|jpeg|gif|js|jar|swf|rm|rmm|ram|rpm|mp3|mp4|wma|asx|asf|wmv|mov|mpg|mpeg|ogg|wav|au|aiff|midi|mid|pdf) index_admin.php

</IfModule>

################################################################################


