<tr>
    <td><img src="/images/{style}/menu-t.gif" width="150" height="50"></td>
</tr>
<tr> 
    <td background="/images/{style}/menu-m.gif">

<form method="post" action="/user/login/logout/">
<img src="/images/{style}/1x1.gif" width="10" height="10" /><b>Innlogget bruker:</b>
<img src="/images/{style}/1x1.gif" width="10" height="10" />{first_name} {last_name}
<img src="/images/{style}/1x1.gif" width="10" height="10" /><input type="submit" value="Logg ut" /><br>
<img src="/images/{style}/1x1.gif" width="10" height="10" /><a href="/user/passwordchange/">Bytt passord</a>
</form>

<tr>
    <td><img src="/images/{style}/menu-b.gif" width="150" height="30" /></td>
</tr>
<tr>
	<td><img src="/images/{style}/1x1.gif" width="10" height="10" /></td>
</tr>
