<?php
header( "Content-type: text/css");
		
/* Netscape6 */
 if (strpos ( $HTTP_USER_AGENT, "Netscape6") != false ) : ?>
		
		td 
		{
	 		font-family: Arial, Helvetica, sans-serif; 
	 		font-size: 90%;
		}
		
		a.small 
		{
			font-family: Arial, Helvetica, sans-serif;
			color: #000000;
			font-size: 90%;
		}
		
		th 
		{
			font-family: Arial, Helvetica, sans-serif; 
			font-size: 90%;
			font-weight: 700;
			color: #ffffff;
			background-color : #003366;
		}

<?php elseif ( strpos ( $HTTP_USER_AGENT, "Konqueror" ) != false ): /* Konqueror */ ?>

		td 
		{
	 		font-family: Arial, Helvetica, sans-serif; 
			font-size: 100%;
		}
		
		a.small 
		{
			font-family: Arial, Helvetica, sans-serif;
			color: #000000;
			font-size: 80%;
		}
		
		th 
		{
			font-family: Arial, Helvetica, sans-serif; 
			font-size: 100%;
			font-weight: 600;
			color: #ffffff;
			background-color : #003366;
		}
		
					
<?php else: /* alle anderen */ ?>

		td 
		{
	 		font-family: Arial, Helvetica, sans-serif; 
			font-size: 80%;
		}
		
		a.small 
		{
			font-family: Arial, Helvetica, sans-serif;
			color: #000000;
			font-size: 80%;
		}
		
		th 
		{
			font-family: Arial, Helvetica, sans-serif; 
			font-size: 80%;
			font-weight: 600;
			color: #ffffff;
			background-color : #003366;
		}
		
	
<?php endif; /* Abfrage Ende */ ?>
		
body  
{
	 font-family: Arial, Helvetica, sans-serif; 
	 font-size: 100%;
	 margin-top: 0px;
	 margin-left: 0px;
	 background-color: #FFFFFF;
}

p 
{
	margin-top: 5px;
	margin-bottom: 0px;	
}

a:hover.small
{
		text-decoration: none;
		color: #003366;
}

a
{
	 font-family: Arial, Helvetica, sans-serif; 
	  color: #000000;
}

a:hover
{
	text-decoration: none;
	color: #003366;
}

a:link.nav, a:active.nav, a:visited.nav
{
	font-family:  Arial, helvetica, Swiss, Futura, sans-serif;	
	color : #000000;
}

a:hover.nav
{
	color : #003366;
	text-decoration: none;
}

form
{
	margin-top: 0px;
	margin-bottom: 0px;
}

input
{
	font-family:  Arial, Helvetica, Swiss, Futura, sans-serif;
	color: #003366;
	background: #eeeeee;
}

.okbutton 
{
	font-family:   Arial, Helvetica, Swiss, Futura, sans-serif;
	font-weight: bold;
	font-size: 80%;
	background: #ffffff;
    color: #003366;
}

h1
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	color: #003366;
	margin-top: 0px;
	margin-bottom: 5px;
}

h2
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
	margin-top: 0px;
	margin-bottom: 5px;
}

h3
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
	margin-top: 0px;
	margin-bottom: 5px;
}

hr
{
	color: #003366;
}

.bglight 
{
	background-color: #f0f0f0;
	padding: 5px 3px 5px 3px;
}

.bgdark 
{
	background-color: #dcdcdc;
	padding: 5px 3px 5px 3px;
}
.sum
{
	padding: 5px 3px 5px 3px;
}

.spacer
{
	font-size: 1px;
}

.bgspacer
{
	font-size: 1px;
	background-image: url(/images/bg_tab_foot.gif);
}

.bgspacer20
{
	font-size: 1px;
	background-image: url(/images/bg_20.jpg);
}

.bgspacer30
{
	font-size: 1px;
	background-image: url(/images/bg_30.jpg);
}

.bg1000
{
	background-image: url(/images/bg_1000.jpg);
}

.bgshim
{
	background-image: url(/images/shim.gif);
}

.spacer2
{
	font-size: 2px;
}

.spacer5
{
	font-size: 5px;
}

.pictext
{
	font-family: Arial, Helvetica, sans-serif;
	font-style : italic;
}

.pris

{
	font-family: Arial, Helvetica, sans-serif;
}