<table width="100%" cellspacing="0" cellpadding="2" border="0">
<tr>
	<td colspan="2" class="menuhead">Links</td>
</tr>

<!-- BEGIN link_group_tpl -->
<tr>
	<td width="1%" valign="top"><img src="/images/dot.gif" width="10" height="12" border="0" alt="" /><br /></td>
	<td width="99%"><a class="menu" href="/link/group/{linkgroup_id}/">{linkgroup_title}</a></td>
</tr>
<!-- END link_group_tpl -->

<tr>
	<td width="1%" valign="top"><img src="/images/dot.gif" width="10" height="12" border="0" alt="" /><br /></td>
	<td width="99%"><a  class="menu" href=/link/suggestlink/>{intl-suggest_link}</a></td>
</tr>
<tr>
	<td colspan="2" class="menuspacer">&nbsp;</td>
</tr>
</table>

