<form action="/trade/checkout/" method="post">
	<h1>{intl-confirm_order}</h1>
	<hr noshade size="1" />
	<h2>{intl-products_about_to_order}:</h2>
	<!-- BEGIN cart_item_list_tpl -->
	
  <table class="list" width="100%" cellspacing="0" cellpadding="4" border="0">
	<tr align="left"> 
	  <th>{intl-picture}:</th>
	  <th>{intl-product_name}:</th>
	  <th>{intl-options}:</th>
	  <th>{intl-qty}:</th>
	  <th align="center">{intl-price}</th>
	</tr>
	<!-- BEGIN cart_item_tpl -->
	<tr> 
	  <td class="{td_class}"> 
		<!-- BEGIN cart_image_tpl -->
		<img src="{product_image_path}" border="0" width="{product_image_width}" height="{product_image_height}" alt="{product_image_caption}"/> 
		<!-- END cart_image_tpl -->
		&nbsp; </td>
	  <td class="{td_class}">{product_name}</td>
	  <td class="{td_class}"> 
		<!-- BEGIN cart_item_option_tpl -->
		{option_name}: {option_value}<br>
		<!-- END cart_item_option_tpl -->
		&nbsp; </td>
	  <td class="{td_class}">{cart_item_count}</td>
	  <td class="{td_class}" align="right">{product_price}</td>
	</tr>
	<!-- END cart_item_tpl -->
	<tr> 
	  <td colspan="3">&nbsp;</td>
	  <td align="right">{intl-shipping_charges}:</td>
	  <td align="right">{shipping_cost}</td>
	</tr>
	<tr> 
	  <td colspan="3">&nbsp;</td>
	  <td align="right">{intl-total_cost_is}:</td>
	  <td align="right">{cart_sum}</td>
	</tr>
  </table>
	
  <!-- END cart_item_list_tpl -->
  <hr size="1" noshade/>
	<br />
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td>
			         <!-- BEGIN billing_address_tpl -->
				 <h2>{intl-billing_to}:</h2>
				 <select name="BillingAddressID">
				 <!-- BEGIN billing_option_tpl -->
				 <option value="{address_id}">{customer_first_name} {customer_last_name}, {street1} {street2} {zip} {place} {country}</option>
				 <!-- END billing_option_tpl -->
				 </select>
				 <!-- END billing_address_tpl -->
				 <br />
				 <h2>{intl-shipping_to}:</h2>
				 <select name="ShippingAddressID">
				 <!-- BEGIN shipping_address_tpl -->
				 <option value="{address_id}">{customer_first_name} {customer_last_name}, {street1} {street2} {zip} {place} {country}</option>
				 <!-- END shipping_address_tpl -->
				 </select>
			</td>
		</tr>
		<tr>
			<td>
				<hr noshade size="1" />
				<br />
				{intl-payment_methods_description}: 
				<select name="PaymentMethod">
				<!-- BEGIN payment_method_tpl -->
				<option value="{payment_method_id}">{payment_method_text}</option>
				<!-- END payment_method_tpl -->
				</select>
				<br />
				<br />
			</td>
		</tr>
	</table>
  <hr noshade size="1" />
	<input type="hidden" name="SendOrder" value="true" />
	<input class="okbutton" type="submit" value="{intl-send}" />
</form>



