<tr bgcolor="{color}">
  <td><p>{nick-name}</p></td>
  <td><p>{first-name}</p></td>
  <td><p>{last-name}</p></td>
  <td><p>{email}</p></td>
  <td><a href="index.php?page={docroot}/admin/users.php&UserId={user-id}&action=modify">Endre...</a></td>
  <td><a href="index.php?page={docroot}/admin/users.php&UserId={user-id}&action=delete"">Slett!</a></td>
</tr>