<form method="post" action="/user/login/login/">
	{intl-username}<br>
	<input type="text" size="10" name="Username"/><br>
	{intl-password}<br>
	<input type="password" size="10" name="Password"/><br>
	<input type="submit" value="OK" />
</form>

