<form method="post" action="/user/login/logout/">
<b>Innlogget bruker:</b>
{first_name} {last_name}
<input type="submit" value="Logg ut" /><br>
<a href="/user/passwordchange/">Bytt passord</a>
</form>
