<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="no" lang="no">

<head>
<title>eZ publish admin - help</title>
<link rel="stylesheet" type="text/css" href="{www_dir}/admin/templates/{site_style}/style.css" />
<meta http-equiv="Content-Type" content="text/html; charset={charset}" />

</head>

<body bgcolor="#FFFFFF" onLoad="MM_preloadImages('/images/{site_style}/redigerminimrk.gif','/images/{site_style}/slettminimrk.gif','/images/{site_style}/downloadminimrk.gif')">

<table width="100%" cellpadding="0" cellspacing="0" border="0">
<tr>
	<td>
		<h1>eZ {module_name} {intl-help}</h1>
	</td>
	<td valign="top">
		<span class="top">{intl-site}:</span> <span class="topusername">{site_url}</span><br />
		<span class="top">{intl-user_name}:</span> <span class="topusername">{first_name}&nbsp;{last_name}</span>
	</td>
</tr>
</table>

<hr noshade="noshade" size="4" />

