<h1>{intl-headline}: {image_name}</h1>

<hr noshade="noshade" size="4" />

<br />

<table align="center" cellspacing="0" cellpadding="0" border="0">
<tr>
	<td>
	<a href="{referer_url}"><img src="{image_uri}" border="0" width="{image_width}" height="{image_height}" alt="{image_description}" /></a>
	</td>
</tr>
<tr>
        <td class="pictext">{image_description}tstgsggdgs daf fuafwfb sfbwbf bfawf bafibwfiwu fbawfui</td>
</tr>
</table>

<br />

<a class="path" href="{referer_url}">&lt;&lt;&nbsp;{intl-back}</a>