<form method="post" action="{www_dir}{index}/address/language/{action_value}/{language_id}/{offset}" >

<h1>{intl-headline}</h1>

<hr noshade="noshade" size="4" />
<br />
<p class="boxtext">{intl-language_name}:</p>
<input type="text" class="box" name="LanguageName" value="{language_name}"/><br>
<br />
<hr noshade="noshade" size="4" />
<input type="submit" class="okbutton" Name="OK" value="{intl-ok}" />&nbsp;
<input type="submit" class="okbutton" Name="Cancel" value="{intl-cancel}" />
</form>