<table width="100%" cellspacing="0" cellpadding="2" border="0">

<!-- BEGIN product_list_tpl -->

<!-- BEGIN product_tpl -->
{begin_tr}
	<td class="menutext">

	<a class="menutext" href="http://sourceprovider.com/trade/productview/{product_id}/{category_id}/"><b>{product_name}</b></a>

	<!-- BEGIN product_image_tpl -->

	<!-- END product_image_tpl -->&nbsp;

<!-- BEGIN price_tpl -->
	<div class="pris">{product_price}</div>
<!-- END price_tpl -->

	</td>
{end_tr}

<!-- END product_tpl -->

<tr>
	<td class="menuspacer">&nbsp;</td>
</tr>
</table>

<!-- END product_list_tpl -->

