<tr>
	<td class="{td_class}">
	{first_name} {last_name}</a>
	</td>

	<td class="{td_class}">
	{login_name}</a>
	</td>

	<td class="{td_class}">
	<a href="/user/useredit/edit/{user_id}/">[ Rediger ]</a>
	</td>

	<td class="{td_class}">
	<a href="/user/useredit/delete/{user_id}/">[ slett ]</a>
	</td>	
</tr>