	</td>
</tr>
</table>
	
	</td>
    <td class="repeaty" width="1" background="/images/{site_style}/box-r04.gif" valign="top"><img src="/images/{site_style}/1x1.gif" width="10" height="10" border="0" /><br /></td>
</tr>
<tr>
    <td class="tdmini" width="1" valign="bottom" align="left"><img src="/images/{site_style}/box-l05.gif" width="10" height="19" border="0" /><br /></td>
    <td class="repeatx" width="100%" background="/images/{site_style}/box-m03.gif" valign="bottom"><img src="/images/{site_style}/1x1.gif" width="120" height="11" border="0" /><br /></td>
    <td class="tdmini" width="1" valign="bottom" align="left"><img src="/images/{site_style}/box-r05.gif" width="10" height="19" border="0" /><br /></td>
</tr>
</table>
<a href="http://www.ez.no" target="_vblank"><img src="/images/{site_style}/ezsystems-minilogo.gif" width="100" height="25" border="0" align="right" /></a><br />

	</td>
</tr>
</table>

</body>
</html>
