    <img src="/images/1x1.gif" width="140" height="1" border="0" /><br />
	</td>

    
	<td>
	<img src="/images/1x1.gif" width="6" height="6" border="0" /><br />
	</td>
	<td width="98%" valign="top">

    <!-- main view -->
    <table width="100%" cellpadding="0" cellspacing="0" border="0">
<tr>
    <td class="repeaty" rowspan="2" width="1%" background="/images/{site_style}/box-l02.gif" valign="top"><img src="/images/{site_style}/box-l01.gif" width="10" height="10" border="0" /><br /></td>
    <td class="repeatx" width="98%" background="/images/{site_style}/box-m01.gif" valign="absmiddle" bgcolor="#b5b5b5"><img src="/images/{site_style}/1x1.gif" width="120" height="6" border="0" /><br /></td>
    <td class="repeaty" rowspan="2" width="1%" background="/images/{site_style}/box-r02.gif" valign="top"><img src="/images/{site_style}/box-r01.gif" width="10" height="10" border="0" /><br /></td>
</tr>
<tr>
	<td align="bottom" bgcolor="#b5b5b5">

	<table width="100%" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td width="1%">

		<a href="/">
		<!-- Ikon: Start -->
		<img src="/ez{module_name}/admin/images/module_icon.gif" width="32" height="32" border="0" align="absmiddle" />
		<!-- Ikon: Slutt -->
		</a>

		</td>
		<td width="1%">
		<img src="/images/{site_style}/1x1.gif" width="6" height="10" border="0" />
		</td>
		<td width="98%">
		<span class="modulename">

		<!-- Modulenavn: Start -->
		{intl-module_name}
		<!-- Modulnavn: Slutt -->

		</span>
		</td>
	</tr>
	</table>

	</td>
</tr>
<tr>
    <td class="tdmini" width="1" valign="top" align="left"><img src="/images/{site_style}/box-l03.gif" width="10" height="11" border="0" /><br /></td>
    <td class="repeatx" width="100%" background="/images/{site_style}/box-m02.gif" valign="top"><img src="/images/{site_style}/1x1.gif" width="120" height="11" border="0" /><br /></td>
    <td class="tdmini" width="1" valign="top" align="left"><img src="/images/{site_style}/box-r03.gif" width="10" height="11" border="0" /><br /></td>
</tr>
<tr>
    <td class="repeaty" width="1" background="/images/{site_style}/box-l04.gif" valign="top" align="left"><img src="/images/{site_style}/1x1.gif" width="10" height="10" border="0" /><br /></td>
    <td bgcolor="#ffffff">
	
	<table width="100%" cellpadding="4" cellspacing="0" border="0">
	<tr>
		<td>
	


 
