<tr bgcolor="#C85028"> 
	<td>
        <p class="smallhead">
	Forums
        </p>
        </td>
</tr>

<!-- BEGIN category_tpl -->
<tr>
	<td width="100%">
	<a href="/forum/forumlist/{id}/" class="menu">
        <img src="/images/prikk.gif" width="8" height="8" border="0">&nbsp;
        {name}
	</a>
	</td>
</tr>
<!-- END category_tpl -->
