<tr>
	<td class="{td_class}">
	<a href="/poll/polledit/edit/{poll_id}/">{poll_name}</a>
	</td>
	<td class="{td_class}">
	{poll_description}
	</td>

	<td class="{td_class}">
	{poll_is_enabled}
	</td>

	<td class="{td_class}">
	{poll_is_closed}
	</td>

	<td class="{td_class}">
	<input type="radio" name="MainPollID" value="{poll_id}" {is_checked} />
	</td>

	<td class="{td_class}">
	<a href="/poll/polledit/edit/{poll_id}/">[ Rediger ]</a>
	</td>
	<td class="{td_class}">
	<a href="/poll/polledit/delete/{poll_id}/">[ slett ]</a>
	</td>	
</tr>