<!-- BEGIN left_spacer_tpl -->

	<!-- Menues: End -->

	</td>

    
	<td width="1%"><img src="{www_dir}/design/admin/images/1x1.gif" width="6" height="6" border="0" alt="" /></td>
<!-- END left_spacer_tpl -->

<!-- BEGIN top_field_tpl -->
	<td width="99%" valign="top">

<table width="100%" cellpadding="0" cellspacing="0" border="0">
<tr>
    <td class="repeaty" rowspan="2" width="1%" background="{www_dir}/design/admin/images/{site_style}/box-l02.gif" valign="top"><img src="{www_dir}/design/admin/images/{site_style}/box-l01.gif" width="10" height="10" border="0" alt="" /><br /></td>
    <td class="repeatx" width="98%" background="{www_dir}/design/admin/images/{site_style}/box-m01.gif" valign="absmiddle" bgcolor="#b5b5b5"><img src="{www_dir}/design/admin/images/{site_style}/1x1.gif" width="120" height="6" border="0" alt="" /><br /></td>
    <td class="repeaty" rowspan="2" width="1%" background="{www_dir}/design/admin/images/{site_style}/box-r02.gif" valign="top"><img src="{www_dir}/design/admin/images/{site_style}/box-r01.gif" width="10" height="10" border="0" alt="" /><br /></td>
</tr>
<tr>
	<td align="bottom" bgcolor="#b5b5b5">

	<table width="100%" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td width="1%">

		<!-- Icon: Start -->
		<img src="{www_dir}/ez{module_name}/admin/images/module_icon.gif" width="32" height="32" border="0" align="absmiddle" alt="{module_name}" />
		<!-- Icon: End -->

		
		
		</td>
		<td width="1%">
		<img src="{www_dir}/design/admin/images/{site_style}/1x1.gif" width="6" height="10" border="0" alt="" />
		</td>
		<td width="98%">
		<span class="modulename">

		<!-- Modulename: Start -->
		{intl-module_name}
		<!-- Modulname: End -->

		</span>
		</td>
		<td>

		<a href="{www_dir}{index}{current_url}?PrintableVersion=enabled">
		<img src="{www_dir}/design/admin/images/{site_style}/icon-print.gif" width="32" height="32" border="0" alt="Printable version" />
		</a>
		</td>

		<!-- BEGIN help_tpl -->
		<td>
		<a target="_help_window" href="{www_dir}{index}{help_url}" onclick="return popup('{www_dir}{index}{help_url}','_help_window')"><img src="{www_dir}/design/admin/images/{site_style}/icon-help.gif" width="32" height="32" border="0" alt="Help" /></a>
		</td>
		<!-- END help_tpl -->

	</tr>
	</table>

	</td>
</tr>
<tr>
    <td class="tdmini" width="1" valign="top" align="left"><img src="{www_dir}/design/admin/images/{site_style}/box-l03.gif" width="10" height="11" border="0" alt="" /><br /></td>
    <td class="repeatx" width="100%" background="{www_dir}/design/admin/images/{site_style}/box-m02.gif" valign="top"><img src="{www_dir}/design/admin/images/{site_style}/1x1.gif" width="120" height="11" border="0" alt="" /><br /></td>
    <td class="tdmini" width="1" valign="top" align="left"><img src="{www_dir}/design/admin/images/{site_style}/box-r03.gif" width="10" height="11" border="0" /><br /></td>
</tr>
<tr>
    <td class="repeaty" width="1" background="{www_dir}/design/admin/images/{site_style}/box-l04.gif" valign="top" align="left"><img src="{www_dir}/design/admin/images/{site_style}/1x1.gif" width="10" height="10" border="0" alt="" /><br /></td>
    <td bgcolor="#ffffff">
	
	<table width="100%" cellpadding="4" cellspacing="0" border="0">
	<tr>
		<td>

<!-- Main view: Start -->

<!-- END top_field_tpl -->
