body {
	font-family: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif;
	font-size: 12px;
	color: #000000;
}

p {
	font-family: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif;
	font-size: 12px;
	color: #000000;
}

h1 {
	font-family: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif;	
	font-weight: bold;
	font-size: 22px;
	color: #000000;
	margin-bottom: 8px;
}

h2 {
	font-family: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif;	
	font-weight: bold;
	font-size: 18px;
	color: #000000;
	margin-bottom: 8px;	
}

a {
	font-family: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif;
	font-size: 12px;		
	color : #000000;
	text-decoration : underline;
}

a:hover {
	color : #a00000;
}

.small {
	font-size: 10px;
}

.bold {
	font-weight: bold;
}

.smallbold {
	font-size: 10px;
	font-weight: bold;
}

.red {
	color : #a00000;
}

.menu {
	font-size: 10px;
	font-weight: bold;
	text-decoration : none;
}

.byline {
	font-style: italic;
}

.boxtext {
	margin-bottom: 4px;
}

.check {
	font-family: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif;	
	font-size: 12px;
	color: #000000;
	margin-bottom: 8px;
}

th {
	font-family: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif;	
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-align: left;
}

td {
	font-family: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif;	
	font-size: 12px;
	color: #000000;
}

.bglight {
	background-color: #f0f0f0;
}

.bgdark {
	background-color: #dcdcdc;
}

select {
	font-family: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif;
	font-size: 12px;
	color: #000000;
}

input {
	font-family: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif;
	font-size: 12px;
	color: #000000;
}

.button {
	font-weight: bold;
}
 
textarea {
	font-family: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif;
	font-size: 12px;
	color: #000000;
}

