<tr>
	<td class="menuhead" bgcolor="#c0c0c0">News</td>
</tr>

<!-- BEGIN article_category_tpl -->
<tr>
	<td>
	<a class="menu" href="/article/archive/{articlecategory_id}/">
	<img src="/images/dot.gif" width="12" heigth="10" border="0">{articlecategory_title}
	</a>
	</td>
</tr>
<!-- END article_category_tpl -->

