        <table width="100%" height="100" border="0" vspace="0" hspace="0" cellpadding="0" cellspacing="0">
        <tr>
            <td width="1%"><img src="/sitedesign/percolo/images/onepix.gif" alt="" width="14" height="14" hspace="0" vspace="0" /><br /></td>
			<td width="98%" valign="top"><img src="/sitedesign/percolo/images/onepix.gif" alt="" width="1" height="14" hspace="0" vspace="0" /><br /></td>
            <td rowspan="3" valign="top" width="1%" align="right"><img src="/sitedesign/percolo/images/helikopter.gif" alt="helikopter" width="140" height="100" /><br /></td>
        </tr>
        <tr>
            <td bgcolor="#009ebf" valign="top"><img src="/sitedesign/percolo/images/onepix.gif" alt="" width="14" height="32" hspace="0" vspace="0" /><br /></td>
            <td bgcolor="#009ebf" valign="top"><h1 class="sidetittel">{image_name}</h1></td>
        </tr>
        <tr>
            <td><img src="/sitedesign/percolo/images/onepix.gif" alt="" width="14" height="14" hspace="0" vspace="0" /><br /></td>
            <td><img src="/sitedesign/percolo/images/onepix.gif" alt="" width="50" height="60" hspace="0" vspace="0"></td>
        </tr>
		<tr>
		    <td><img src="/sitedesign/percolo/images/onepix.gif" alt="" width="14" height="14" hspace="0" vspace="0" /><br /></td>
			<td colspan="2">

<table align="center" cellspacing="0" cellpadding="0" border="0">
<tr>
	<td>
	<a href="{referer_url}"><img src="{image_uri}" border="0" width="{image_width}" height="{image_height}" alt="{image_description}" /></a>
	</td>
</tr>
<tr>
        <td class="pictext">{image_description}</td>
</tr>
</table>

<br />

<a class="path" href="{referer_url}">&lt;&lt;&nbsp;{intl-back}</a>

</td>
</tr>
</table>