	<form method="post" action="/user/login/login/">
	<p class="menutext">{intl-username}:</p>
	<input type="text" size="8" name="Username"/>
	<p class="menutext">{intl-password}:</p>
	<input type="password" size="8" name="Password"/><br />
	<p class="menuspacer">&nbsp;</p>
	<input type="submit" value="OK" />
	<p class="menuspacer">&nbsp;<br />&nbsp;</p>
	<img src="/images/pil.gif" height="10" width="10" border="0">&nbsp;<a class="menutext" href="/user/userwithaddress/">Ny bruker</a>
	</form>
