
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
	<td>
	  <h1>{intl-headline}</h1>
	  <hr noshade size="1"/>
	  <table align="center" cellspacing="0" cellpadding="0" border="0">
		<tr> 
		  <td> <a href="{www_dir}{index}{referer_url}"> <img src="{www_dir}{image_uri}" border="0" width="{image_width}" height="{image_height}" /></a> 
		  </td>
		</tr>
		<tr> 
		  <td class="pictext"> {image_caption} </td>
		</tr>
	  </table>
	  <hr noshade size="1"/>
	  <a href="{www_dir}{index}{referer_url}">{intl-back}</a></td>
  </tr>
</table>
